# Firebase config
VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=
VITE_FIREBASE_PROJECT_ID=
VITE_FIREBASE_STORAGE_BUCKET=
VITE_FIREBASE_MESSAGING_SENDER_ID=
VITE_FIREBASE_APP_ID=

# Admin email (dostane admin panel)
VITE_ADMIN_EMAIL=rezacdaniel2@gmail.com

# Brevo config — pro Cloud Functions (lokální vývoj s emulatorem)
BREVO_API_KEY=tvuj_brevo_api_key_zde
BREVO_SENDER=noreply@seznam.cz
